body {
    margin: 0;
    padding: 16px;
}
pre {
    margin: 0;
    padding: 16px;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    tab-size: 4;
    font-family: 'Times New Roman', serif;
}