body {
    margin: 16px;
    padding: 16px;
    min-height: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
pre {
    margin: 0;
    padding: 16px;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    tab-size: 4;
    font-family: 'Times New Roman', serif;
}